body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    touch-action: manipulation;
}

table, td {
    border: none;
    table-layout:fixed;
}

td {
    height: 75px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.weekend {
    background-color: rgb(230, 230, 230);
}

.currentselectedmorning {
    background: linear-gradient(
        70deg, 
        cornflowerblue 50%, 
        rgb(230, 230, 230) 50%, 
        white 100%);
}

.currentselectedevening {
    background: linear-gradient(
        110deg, 
        white 0%, 
        rgb(230, 230, 230) 50%, 
        cornflowerblue 50%);
}

.currentselectedday {
    background: linear-gradient(
        90deg, 
        white 0%, 
        rgb(230, 230, 230) 25%, 
        cornflowerblue 25%, 
        cornflowerblue 80%, 
        rgb(230, 230, 230) 80%, 
        white 100%);
}

.newselectedmorning {
    background: linear-gradient(
        70deg, 
        hotpink 50%, 
        rgb(230, 230, 230) 50%, 
        white 100%);
}

.newselectedevening {
    background: linear-gradient(
        110deg, 
        white 0%, 
        rgb(230, 230, 230) 50%, 
        hotpink 50%);
}

.newselectedday {
    background: linear-gradient(
        90deg, 
        white 0%, 
        rgb(230, 230, 230) 25%, 
        hotpink 25%, 
        hotpink 80%, 
        rgb(230, 230, 230) 80%, 
        white 100%);
}
